/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix {
  clear: both; }

.wrap {
  max-width: 1024px;
  margin: 0 auto;
  font-family: Roboto Medium, Microsoft JhengHei; }

.header {
  background: #4A90E2; }
  .header .header-list {
    width: 620px;
    margin: 0 auto; }
    .header .header-list li a {
      display: inline-block;
      text-align: center;
      width: 160px;
      color: #00408B;
      font-size: 24px;
      line-height: 70px;
      text-decoration: none; }
      .header .header-list li a:hover {
        color: #fff; }
      .header .header-list li a.selected {
        color: #FFFFFF;
        border-bottom: #00408B 5px solid; }

.todo-content {
  background: #E1E1E1; }
  .todo-content .todoInput {
    outline: none;
    width: 620px;
    height: 65px;
    margin-top: 25px;
    background: #FFFFFF;
    border: 2px solid #C8C8C8;
    border-radius: 5px;
    font-family: Roboto Regular;
    font-size: 24px;
    padding: 0 25px;
    text-align: left;
    color: #C8C8C8; }
    .todo-content .todoInput::-webkit-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C8C8C8; }
    .todo-content .todoInput:-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C8C8C8; }
    .todo-content .todoInput::-ms-input-placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C8C8C8; }
    .todo-content .todoInput::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #C8C8C8; }
    .todo-content .todoInput:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #C8C8C8; }
    .todo-content .todoInput::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #C8C8C8; }
  .todo-content .addTask {
    width: 620px;
    -webkit-box-shadow: 0 4px 4px 0 #C8C8C8;
    box-shadow: 0 4px 4px 0 #C8C8C8; }
    .todo-content .addTask .addTask-view {
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 620px;
      height: 75px;
      margin-top: 25px;
      padding: 24px 32px 24px 32px;
      background: #F2F2F2;
      border-radius: 5px 5px 0 0;
      border-bottom: 3px solid #C8C8C8; }
      .todo-content .addTask .addTask-view .inputCheckbox {
        display: none; }
      .todo-content .addTask .addTask-view .todoCheckbox {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 1;
        vertical-align: middle;
        background: #fff;
        border-radius: 2px;
        margin-right: 15px; }
      .todo-content .addTask .addTask-view .todoTitleInput {
        vertical-align: middle;
        font-family: Roboto Medium;
        font-size: 24px;
        border: none;
        outline: none;
        background: #F2F2F2; }
      .todo-content .addTask .addTask-view .editIcon a {
        color: #000000;
        font-size: 24px;
        text-decoration: none;
        margin-left: 32px; }
        .todo-content .addTask .addTask-view .editIcon a i.fa-pencil-alt {
          color: #4A90E2; }
    .todo-content .addTask .scroll {
      background: #F2F2F2;
      padding: 24px 75px 0 75px; }
      .todo-content .addTask .scroll ul li {
        margin-bottom: 24px; }
        .todo-content .addTask .scroll ul li label i {
          font-size: 20px;
          margin-right: 10px; }
        .todo-content .addTask .scroll ul li label.fileLabel {
          width: 32px;
          height: 32px;
          background: #C8C8C8;
          border-radius: 2px; }
          .todo-content .addTask .scroll ul li label.fileLabel::after {
            content: "+";
            color: #fff;
            font-size: 25px;
            line-height: 32px;
            padding: 0 9px;
            vertical-align: middle; }
        .todo-content .addTask .scroll ul li .deadlineInput {
          color: #C8C8C8;
          margin: 10px 0 0 28px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
        .todo-content .addTask .scroll ul li .deadlineInput-time {
          color: #C8C8C8;
          margin-left: 8px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
        .todo-content .addTask .scroll ul li .commentTextarea {
          margin: 10px 0 0 28px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
          .todo-content .addTask .scroll ul li .commentTextarea::-webkit-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content .addTask .scroll ul li .commentTextarea:-ms-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content .addTask .scroll ul li .commentTextarea::-ms-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content .addTask .scroll ul li .commentTextarea::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content .addTask .scroll ul li .commentTextarea:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content .addTask .scroll ul li .commentTextarea::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #C8C8C8;
            line-height: 24px; }
    .todo-content .addTask .button {
      font-family: Roboto Regular; }
    .todo-content .addTask .cancelBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #FFFFFF;
      font-size: 24px;
      color: #D0021B;
      text-align: center;
      border: none;
      border-radius: 0 0 0 5px;
      height: 60px;
      cursor: pointer; }
    .todo-content .addTask .addTaskBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #4A90E2;
      font-size: 24px;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 0 0 5px 0;
      height: 60px;
      cursor: pointer; }

.todo-content-list {
  margin-top: 25px;
  margin-bottom: 100px; }
  .todo-content-list .addTask {
    width: 620px;
    -webkit-box-shadow: 0 4px 4px 0 #C8C8C8;
    box-shadow: 0 4px 4px 0 #C8C8C8; }
    .todo-content-list .addTask .todo-view {
      display: block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 620px;
      height: 100px;
      padding: 24px 32px 16px 32px;
      background: #F2F2F2;
      border-radius: 5px 5px 0 0;
      border-bottom: 3px solid #C8C8C8; }
      .todo-content-list .addTask .todo-view.completed {
        height: 75px;
        padding: 24px 32px 24px 32px; }
      .todo-content-list .addTask .todo-view.editing {
        overflow: hidden;
        border-bottom: 3px solid #C8C8C8;
        margin-bottom: 0px;
        height: 75px;
        padding: 24px 32px 24px 32px; }
      .todo-content-list .addTask .todo-view.point {
        background: #FFF2DC; }
      .todo-content-list .addTask .todo-view .inputCheckbox {
        display: none; }
      .todo-content-list .addTask .todo-view label {
        font-size: 24px;
        color: #000000; }
        .todo-content-list .addTask .todo-view label.completed {
          color: #9B9B9B;
          text-decoration: line-through; }
      .todo-content-list .addTask .todo-view .todoCheckbox {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 1;
        vertical-align: middle;
        background: #fff;
        border-radius: 2px;
        margin-right: 15px; }
        .todo-content-list .addTask .todo-view .todoCheckbox.check {
          background-color: #4A90E2; }
          .todo-content-list .addTask .todo-view .todoCheckbox.check:after {
            content: "\2714";
            font-size: 20px;
            line-height: 25px;
            padding: 0px 4px;
            color: #fff;
            text-align: center; }
      .todo-content-list .addTask .todo-view .todoTitleInput {
        vertical-align: middle;
        font-family: Roboto Medium;
        font-size: 24px;
        border: none;
        outline: none;
        background: #F2F2F2; }
      .todo-content-list .addTask .todo-view .editIcon {
        vertical-align: middle; }
        .todo-content-list .addTask .todo-view .editIcon a {
          color: #000000;
          font-size: 24px;
          text-decoration: none;
          margin-left: 32px; }
          .todo-content-list .addTask .todo-view .editIcon a.editing {
            color: #4A90E2; }
          .todo-content-list .addTask .todo-view .editIcon a.point {
            color: #F5A623; }
      .todo-content-list .addTask .todo-view .dataIcon {
        padding: 0;
        margin-left: 45px;
        color: #757575; }
        .todo-content-list .addTask .todo-view .dataIcon.completed {
          display: none !important; }
        .todo-content-list .addTask .todo-view .dataIcon i {
          margin-right: 15px;
          font-size: 16px; }
    .todo-content-list .addTask .scroll {
      background: #F2F2F2;
      padding: 24px 75px 0 75px; }
      .todo-content-list .addTask .scroll ul li {
        margin-bottom: 24px; }
        .todo-content-list .addTask .scroll ul li label i {
          font-size: 20px;
          margin-right: 10px; }
        .todo-content-list .addTask .scroll ul li label.fileLabel {
          width: 32px;
          height: 32px;
          background: #C8C8C8;
          border-radius: 2px; }
          .todo-content-list .addTask .scroll ul li label.fileLabel::after {
            content: "+";
            color: #fff;
            font-size: 25px;
            line-height: 32px;
            padding: 0 9px;
            vertical-align: middle; }
        .todo-content-list .addTask .scroll ul li .deadlineInput {
          color: #C8C8C8;
          margin: 10px 0 0 28px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
        .todo-content-list .addTask .scroll ul li .deadlineInput-time {
          color: #C8C8C8;
          margin-left: 8px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
        .todo-content-list .addTask .scroll ul li .commentTextarea {
          margin: 10px 0 0 28px;
          padding: 8px 16px;
          background: #FFFFFF;
          border-radius: 2px;
          border: none;
          font-family: Roboto Regular;
          font-size: 16px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea::-webkit-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea:-ms-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea::-ms-input-placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #C8C8C8;
            line-height: 24px; }
          .todo-content-list .addTask .scroll ul li .commentTextarea::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #C8C8C8;
            line-height: 24px; }
    .todo-content-list .addTask .button {
      font-family: Roboto Regular; }
    .todo-content-list .addTask .cancelBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #FFFFFF;
      font-size: 24px;
      color: #D0021B;
      text-align: center;
      border: none;
      border-radius: 0 0 0 5px;
      height: 60px;
      cursor: pointer; }
    .todo-content-list .addTask .addTaskBtn {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #4A90E2;
      font-size: 24px;
      color: #fff;
      text-align: center;
      border: none;
      border-radius: 0 0 5px 0;
      height: 60px;
      cursor: pointer; }

.displayNone {
  display: none; }

[v-cloak] {
  display: none; }
