@import 'grid';
@import 'reset';
.wrap {
    max-width: 1024px;
    margin: 0 auto;
    font-family: Roboto Medium, Microsoft JhengHei;
}

.header {
    background: #4A90E2;
    .header-list {
        width: 620px;
        margin: 0 auto;
        li {
            a {
                display: inline-block; // box-sizing: border-box;
                text-align: center;
                width: 160px;
                color: #00408B;
                font-size: 24px;
                line-height: 70px;
                text-decoration: none;
                &:hover {
                    color: #fff;
                }
                &.selected {
                    color: #FFFFFF;
                    border-bottom: #00408B 5px solid;
                }
            }
        }
    }
}

.todo-content {
    background: #E1E1E1;
    .todoInput {
        outline: none;
        width: 620px;
        height: 65px;
        margin-top: 25px;
        background: #FFFFFF;
        border: 2px solid #C8C8C8;
        border-radius: 5px;
        font-family: Roboto Regular;
        font-size: 24px;
        padding: 0 25px;
        text-align: left;
        color: #C8C8C8;
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #C8C8C8;
        }
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #C8C8C8;
        }
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #C8C8C8;
        }
    }
    .addTask {
        width: 620px;
        transition: all 1s;
        .addTask-view {
            display: block;
            box-sizing: border-box;
            width: 620px;
            height: 75px;
            margin-top: 25px;
            padding: 24px 32px 24px 32px;
            background: #F2F2F2;
            border-radius: 5px 5px 0 0;
            border-bottom: 3px solid #C8C8C8;
            .inputCheckbox {
                display: none;
            }
            .todoCheckbox {
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 1;
                vertical-align: middle;
                background: #fff;
                border-radius: 2px;
                margin-right: 15px;
            }
            .todoTitleInput {
                vertical-align: middle;
                font-family: Roboto Medium;
                font-size: 24px;
                border: none;
                outline: none;
                background: #F2F2F2;
            }
            .editIcon {
                a {
                    color: #000000;
                    font-size: 24px;
                    text-decoration: none;
                    margin-left: 32px;
                    i {
                        &.fa-pencil-alt {
                            color: #4A90E2;
                        }
                    }
                }
            }
        }
        .scroll {
            background: #F2F2F2;
            padding: 24px 75px 0 75px;
            box-shadow: 0 4px 4px 0 #C8C8C8;
            ul {
                li {
                    margin-bottom: 24px;
                    label {
                        i {
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        &.fileLabel {
                            width: 32px;
                            height: 32px;
                            background: #C8C8C8;
                            border-radius: 2px;
                            &::after {
                                content: "+";
                                color: #fff;
                                font-size: 25px;
                                line-height: 32px;
                                padding: 0 9px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .deadlineInput {
                        color: #C8C8C8;
                        margin: 10px 0 0 28px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 2px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                    }
                    .deadlineInput-time {
                        color: #C8C8C8;
                        margin-left: 8px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 4px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                    }
                    .commentTextarea {
                        margin: 10px 0 0 28px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 4px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .button {
            font-family: Roboto Regular;
            box-shadow: 0 4px 4px 0 #C8C8C8;
        }
        .cancelBtn {
            box-sizing: border-box;
            background: #FFFFFF;
            font-size: 24px;
            color: #D0021B;
            text-align: center;
            border: none;
            border-radius: 0 0 0 5px;
            height: 60px;
            cursor: pointer;
        }
        .addTaskBtn {
            box-sizing: border-box;
            background: #4A90E2;
            font-size: 24px;
            color: #fff;
            text-align: center;
            border: none;
            border-radius: 0 0 5px 0;
            height: 60px;
            cursor: pointer;
        }
    }
}

.todo-content-list {
    margin-top: 25px;
    margin-bottom: 100px;
    .addTask {
        width: 620px;
        // box-shadow: 0 4px 4px 0 #C8C8C8;
        .todo-view {
            display: block;
            box-sizing: border-box;
            width: 620px;
            height: 100px;
            padding: 24px 32px 16px 32px;
            margin-bottom: 8px;
            background: #F2F2F2;
            border-radius: 5px 5px 0 0;
            border-bottom: 3px solid #C8C8C8;
            transition: transform .5s;
            &:hover{
                transform: scale3d(1.01, 1.01, 1);
                // &::after {
                //     opacity: 1;
                //   }
            }
            &.completed {
                height: 75px;
                padding: 24px 32px 24px 32px;
            }
            &.editing {
                overflow: hidden;
                border-bottom: 3px solid #C8C8C8;
                margin-bottom: 0px;
                height: 75px;
                padding: 24px 32px 24px 32px;
            }
            &.point{
                background: #FFF2DC;
            }
            .handleIcon{
                // display: none !important;
                position: absolute;
                left: 5px;
                margin-right: 10px;
                &:hover,&:focus{
                    .circle{
                        background: #4A90E2;
                    }
                    cursor: move;
                }
                .circle{
                    display: block;
                    width: 5px;
                    height: 5px;
                    border-radius:50%;
                    margin: 4px;
                    background: #D8D8D8;
                }
            }
            .inputCheckbox {
                display: none;
            }
            label {
                font-size: 24px;
                color: #000000;
                &.completed {
                    color: #9B9B9B;
                    text-decoration: line-through;
                }
            }
            .todoCheckbox {
                display: inline-block;
                width: 25px;
                height: 25px;
                line-height: 1;
                vertical-align: middle;
                background: #fff;
                border-radius: 2px;
                margin-right: 15px;
                &.check {
                    background-color: #4A90E2;
                    &:after {
                        content: "\2714"; // font-size: 20px;
                        font-size: 20px;
                        line-height: 25px;
                        padding: 0px 4px;
                        color: #fff;
                        text-align: center;
                    }
                }
            }
            // .todoCheckbox
            .todoTitleInput {
                vertical-align: middle;
                font-family: Roboto Medium;
                font-size: 24px;
                border: none;
                outline: none;
                background: #F2F2F2;
            }
            .editIcon {
                vertical-align: middle;
                a {
                    color: #000000;
                    font-size: 24px;
                    text-decoration: none;
                    margin-left: 32px;
                    &.editing {
                        color: #4A90E2;
                    }
                    &.point{
                        color: #F5A623;
                    }
                }
            }
            .dataIcon {
                padding: 0;
                margin-left: 45px;
                color: #757575;
                &.completed {
                    display: none !important;
                }
                i {
                    margin-right: 15px;
                    font-size: 16px;
                }
                span{
                    margin-right: 15px;
                }
            }
        }
        .scroll {
            background: #F2F2F2;
            padding: 24px 75px 0 75px;
            ul {
                li {
                    margin-bottom: 24px;
                    label {
                        i {
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        &.fileLabel {
                            width: 32px;
                            height: 32px;
                            background: #C8C8C8;
                            border-radius: 2px;
                            &::after {
                                content: "+";
                                color: #fff;
                                font-size: 25px;
                                line-height: 32px;
                                padding: 0 9px;
                                vertical-align: middle;
                            }
                        }
                    }
                    .deadlineInput {
                        color: #C8C8C8;
                        margin: 10px 0 0 28px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 2px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                    }
                    .deadlineInput-time {
                        color: #C8C8C8;
                        margin-left: 8px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 4px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                    }
                    .commentTextarea {
                        margin: 10px 0 0 28px;
                        padding: 8px 16px;
                        background: #FFFFFF;
                        border-radius: 4px;
                        border: none;
                        font-family: Roboto Regular;
                        font-size: 16px;
                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: #C8C8C8;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .button {
            font-family: Roboto Regular;
            margin-bottom: 24px;
        }
        .cancelBtn {
            box-sizing: border-box;
            background: #FFFFFF;
            font-size: 24px;
            color: #D0021B;
            text-align: center;
            border: none;
            border-radius: 0 0 0 5px;
            height: 60px;
            cursor: pointer;
        }
        .addTaskBtn {
            box-sizing: border-box;
            background: #4A90E2;
            font-size: 24px;
            color: #fff;
            text-align: center;
            border: none;
            border-radius: 0 0 5px 0;
            height: 60px;
            cursor: pointer;
        }
    }
}


.displayNone {
    display: none;
}
[v-cloak] {
    display: none;
}
//拖曳功能點選時
.chosen {
    box-shadow: 0 5px 15px 6px rgba(0, 0, 0, .5);
  }

  //置頂功能
  .isTop{
    order: 1  !important;
  }